@import './base.css';
@import '../../public/lib/themes/default.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

.vue-draw {
  outline: 1px dashed #777;
  border-radius: 5px;
  padding: 0;
  margin-bottom: 70px;
}

.save-modal {
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  inset: 0;
  z-index: 9999;
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.save-modal section {
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.save-modal section img,
.save-modal section canvas {
  min-width: 300px;
  max-width: 100%;
}

.hidden {
  display: none;
}
