@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}

.vue-draw {
  outline: 1px dashed #777;
  border-radius: 5px;
  width: 500px;
  height: 300px;
  margin-bottom: 70px;
}

.save-modal {
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  inset: 0;
  z-index: 9999;
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.bg-white {
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.hidden {
  display: none;
}